In [1]:
import pyupbit
import pandas as pd
import time

In [2]:
codes = ['KRW-BTC', 'KRW-SXP', 'KRW-SUI', 'KRW-ARK', 'KRW-SHIB', 'KRW-UXLINK', 'KRW-XRP', 'KRW-SEI', 'KRW-HIFI']
count = 60 * 24 * 365 * 2 # 2 years
interval = 'minute1'
to = time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(time.time()))

In [3]:
for code in codes:
    price_history = pyupbit.get_ohlcv(ticker=code, interval=interval, to=to, count=count)
    price_history.reset_index().rename(columns={'index':'timestamp'}).to_csv(f'from_pyupbit/{code}.csv', index=False)
    print(f'{code} done')

KRW-BTC done
KRW-SXP done
KRW-SUI done
KRW-ARK done
KRW-SHIB done
KRW-UXLINK done
KRW-XRP done
KRW-SEI done
KRW-HIFI done

In [2]:
coins = ['KRW-ETH', 'KRW-DOGE', 'KRW-BIGTIME', 'KRW-SOL', 'KRW-SXP']
count = 60 * 24 * 365 * 2 # 2 years
interval = 'minute1'
to = time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(time.time()))

In [4]:
for coin in coins:
    price_history = pyupbit.get_ohlcv(ticker=coin, interval=interval, to=to, count=count)
    price_history.reset_index().rename(columns={'index':'timestamp'}).to_csv(f'from_pyupbit/{coin}.csv', index=False)
    print(f'{coin} done')

KRW-ETH done
KRW-DOGE done
KRW-BIGTIME done
KRW-SOL done
KRW-SXP done

In [7]:
price_history.corr()

            open      high       low     close    volume     value
open    1.000000  0.999994  0.999994  0.999992  0.018512  0.077340
high    0.999994  1.000000  0.999989  0.999995  0.019589  0.078446
low     0.999994  0.999989  1.000000  0.999994  0.017503  0.076302
close   0.999992  0.999995  0.999994  1.000000  0.018586  0.077412
volume  0.018512  0.019589  0.017503  0.018586  1.000000  0.954458
value   0.077340  0.078446  0.076302  0.077412  0.954458  1.000000

In [18]:
price_history['close_change'] = price_history['close'].diff()

In [19]:
price_history.corr()

,open,high,low,close,volume,value,close_change
open,1.000000,0.999994,0.999994,0.999992,0.018512,0.077340,-0.001720
high,0.999994,1.000000,0.999989,0.999995,0.019589,0.078446,-0.000355
low,0.999994,0.999989,1.000000,0.999994,0.017503,0.076302,-0.000451
close,0.999992,0.999995,0.999994,1.000000,0.018586,0.077412,0.001292
volume,0.018512,0.019589,0.017503,0.018586,1.000000,0.954458,0.015228
value,0.077340,0.078446,0.076302,0.077412,0.954458,1.000000,0.015151
close_change,-0.001720,-0.000355,-0.000451,0.001292,0.015228,0.015151,1.000000